/* @override http://127.0.0.1:54912/css/calc.css */

* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	height: 100%;
}

body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font: .9em  Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	
	
}

#background{
	width: 550px;
	background: url(../images/ArgatrobanBG2.png) no-repeat ;
	margin: 0 auto;
	height: 600px;
}

#content{
	 
	padding: 5px;

/*	width: 500px;*/
	height: 580px;

}

fieldset{
	list-style: none;
	background: none repeat scroll 0 0;
	/*background: #eee;*/
	border: none;
}

fieldset ul{
	list-style: none;
	padding: 10px;
}

.To{
	margin-bottom: 6px;
	display: inline-block;
    font-family: "arial black";
    margin:0 5px;
}



#resultsHeading{
	font: 1em/1.5em "arial black","Helvetica Neue", ArialBlack, Helvetica, Geneva, sans-serif;
	height: 85px;
	border-top: 1px dotted #4D86C1;
	border-bottom: 1px dotted #4D86C1;
    width:470px;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:0px;
    padding-top:5px;

}

#results{
	background-color: #fff;
    width:470px;
    margin:0 auto;
    min-height:175px;
    height:175px;
    font-size:x-small;
        
}

td{
	padding: 4px;
	border-right: 1px solid #4D86C1;
	border-bottom: 1px solid #4D86C1;
    min-height:34px;
    vertical-align:top;
}


.noBorder{
	padding: 10px;
	border-right: 0px;
	border-bottom: 1px solid #4D86C1;
	
}

.IIRate{
	
	display: block;
	font-size: .70em;
	width: 100%;
	margin-right: 15px;
	margin-top: 2px;
/*	font-weight: bold;*/
	
}

.red{
	color: red;
    margin-top:10px;
	margin-left: 180px;
	display: inline-block;
	font-weight: bold;
	font-style: italic;
}

.heading {
	font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}
/*Form Values*/
form {
		padding: 0;
}

fieldset {
	margin-top:70px;
/*	position:relative;*/
	padding: 0;
	width: 500px;
	display: block;
    margin-left:20px
}


fieldset label {
	text-align:left;
	font-family: "arial black";
	font-stretch: wider;
	padding-top: 5px;
	margin-left: 5px;
	display: block;
	float: left;
/*	width: 10.9em;*/
	clear: left;
	line-height: 30px;
	
}


/*.ui-multiselect { padding:2px 0 2px 4px; text-align:left; margin: 5px .5em; width: 200px;}*/

select{
	width: 200px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
	padding: 3px;
	height: 30px;
}

input{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	height: 25px;
    text-align:center;
    width:100px;
    margin:0px;
    
}

.error{
	color: red;
	display: none;
	
}

form li {
    float:right;
    width:100%;
    height:50px;
    text-align:right;
    padding-right:0px
}

#results p {
 font-size: small;
line-height:20px
}
#adjRateTabs ul{
/*    list-style:none;*/
}
#adjRateTabs li  {
    line-height:20px;
    /*font-size: small;*/
    text-align:right;
    list-style-type:none;
    padding:0px;
    margin:0;
    
}
#adjRateTabs li a{
    width:90%;
    float:right;
    padding: 5px;
}
.rateTxt {
    font-weight:bold;
    font-size:1em;
    float:right;
    width:180px;
    display:inline-block;
    clear:both;
}

#TabArea {
    font: 1em/1.5em "arial black","Helvetica Neue", ArialBlack, Helvetica, Geneva, sans-serif;
    width:470px;
    margin:0 auto;
    padding: 2px 0;
}

.theTab {
    font-size:9px; 
}



.Tlabels {
    width:120px;
    text-align:right
}

.rateArea {
    width:320px;
    float:right;
    padding:0px;
}


.EHNlogo {
    float:right;
    margin:0px 28px 0px 0px;
}

.ui-tabs-vertical { width:470px; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 14em; background:#ccc ;}
.ui-tabs-vertical .ui-tabs-nav li {clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; padding:0;margin:0px;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1px; float: right; }



